<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>reqeust-service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="./request-service.css" rel="stylesheet" type="text/css" />

    <script src="../../js/classes/request-service.class.js"></script>
    <script src="../../js/common.js"></script>
    <script src="./request-service.js"></script>
  </head>
  <body>
    <button onclick="sendRequest()">ajax 보내기</button>

    <div>
      <input type="file" id="file" />
      <button onclick="fileUpload()">파일 보내기</button>
    </div>
  </body>
</html>