<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>list</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../css/common.css" rel="stylesheet" type="text/css" />

    <script src="../../js/common.js"></script>
  </head>
  <body>
    <ul class="common-list vertical default-margin-bottom-10">
      <li class="item justify-content-flex-end">
        item1
      </li>
      <li class="item">
        item2
      </li>
      <li class="item">
        item3
      </li>
    </ul>
    
    <div style="height: 40px;"></div>

    <ul class="common-list horizontal default-margin-right-10">
      <li class="item">
        item1
      </li>
      <li class="item" style="margin-right: 0;">
        item2
      </li>
      <li class="item">
        item3
      </li>
    </ul>
  </body>
</html>