.area-1 {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  height: 200px;
  overflow-y: scroll;
}

.area-2 {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  height: 200px;
  overflow-y: scroll;
}