<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>full-page-scroll</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../css/swiper-bundle.min.css" rel="stylesheet" type="text/css" >
    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="./full-page-scroll.css" rel="stylesheet" type="text/css" />

    <script src="../../js/swiper-bundle.min.js"></script>
    <script src="../../js/classes/common-library.class.js"></script>
    <script src="../../js/classes/swiper-custom.class.js"></script>
    <script src="../../js/classes/window-size-box.class.js"></script>
    <script src="../../js/classes/wheel-check.class.js"></script>
    <script src="../../js/classes/full-page-scroll.class.js"></script>
    <script src="../../js/common.js"></script>
    <script src="./full-page-scroll.js"></script>
  </head>
  <body>
    <div class="swiper-custom" id="swiper-custom">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Page 1</div>
        <div class="swiper-slide">Page 2</div>
        <div class="swiper-slide">Page 3</div>
      </div>
      
      <!-- <div class="swiper-prev-sliding-button" onclick="swiperCustom2.sliding('prev')">

      </div>
      <div class="swiper-next-sliding-button" onclick="swiperCustom2.sliding('next')">

      </div> -->

      <!-- horizontal 인 경우 -->
      <!-- <div class="swiper-pagination-box">
        <ul class="swiper-pagination-item-list">
          <li class="item"></li>
        </ul>
      </div> -->

      <!-- vertical 인 경우 -->
      <div class="swiper-pagination-box vertical">
        <ul class="swiper-pagination-item-list">
          <li class="item"></li>
        </ul>
      </div>
    </div>
  </body>
</html>