<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>accordion-box</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="./accordion-box.css" rel="stylesheet" type="text/css" />

    <script src="../../js/classes/common-library.class.js"></script>
    <script src="../../js/classes/accordion-box.class.js"></script>
    <script src="../../js/common.js"></script>
    <script src="./accordion-box.js"></script>
  </head>
  <body>
    <div class="common-accordion-box show">
      <div class="always-show-content">
        <button onclick="accordionBox.toggle(this)">더보기</button>
        <button onclick="accordionBox.show(this)">무조건 펼침</button>
        <button onclick="accordionBox.hide(this)">무조건 닫힘</button>
      </div>
      <div class="hide-content">
        내용입니다.
        <br />
        sdfs
        fs<br />
        fs<br />
        fs<br />
        fs<br />
        fs<br />fs<br />
        fs<br />fs<br />
      </div>
    </div>

    <div class="common-accordion-box">
      <div class="always-show-content">
        <button onclick="accordionBox.toggle(this)">더보기</button>
        <button onclick="accordionBox.show(this)">무조건 펼침</button>
        <button onclick="accordionBox.hide(this)">무조건 닫힘</button>
      </div>
      <div class="hide-content">
        내용입니다.
        <br />
        sdfs
        fs<br />
        fs<br />
        fs<br />
        fs<br />
        fs<br />fs<br />
        fs<br />fs<br />
      </div>
    </div>

    <div class="common-accordion-box">
      <div class="always-show-content">
        <button onclick="accordionBox.toggle(this)">더보기</button>
        <button onclick="accordionBox.show(this)">무조건 펼침</button>
        <button onclick="accordionBox.hide(this)">무조건 닫힘</button>
      </div>
      <div class="hide-content">
        내용입니다.
        <br />
        sdfs
        fs<br />
        fs<br />
        fs<br />
        fs<br />
        fs<br />fs<br />
        fs<br />fs<br />
      </div>
    </div>
  </body>
</html>