<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>list</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="./scroll-check.css" rel="stylesheet" type="text/css" />

    <script src="../../js/classes/scroll-check.class.js"></script>
    <script src="../../js/common.js"></script>
    <script src="./scroll-check.js"></script>
  </head>
  <body>
    <ul class="common-list vertical">
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: #f00;">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(27, 141, 105);">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(117, 73, 221);">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(195, 195, 44);">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(234, 73, 205);">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: #f00;">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(27, 141, 105);">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(117, 73, 221);">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(195, 195, 44);">

        </div>
      </li>
      <li class="item">
        <div style="width: 100%; height: 50px; background-color: rgb(234, 73, 205);">

        </div>
      </li>
    </ul>



    <div class="area-1">
      <ul class="common-list vertical">
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: #f00;">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(27, 141, 105);">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(117, 73, 221);">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(195, 195, 44);">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(234, 73, 205);">

          </div>
        </li>
      </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="area-2">
      <ul class="common-list vertical">
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: #f00;">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(27, 141, 105);">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(117, 73, 221);">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(195, 195, 44);">

          </div>
        </li>
        <li class="item">
          <div style="width: 100%; height: 50px; background-color: rgb(234, 73, 205);">

          </div>
        </li>
      </ul>
    </div>
  </body>
</html>