<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>window-size-box</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="./window-size-box.css" rel="stylesheet" type="text/css" />

    <script src="../../js/classes/common-library.class.js"></script>
    <script src="../../js/classes/window-size-box.class.js"></script>
    <script src="../../js/common.js"></script>
    <script src="./window-size-box.js"></script>
  </head>
  <body>
    <div class="window-size-box" id="aaa">
      ...
    </div>
  </body>
</html>